
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Chatbot Landing Page</title>
   
</head>
<body>
    <div class="container">
        <h1>Welcome to ChatBot</h1>
        <head>
            <title>Chatbot Landing Page</title>
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        </head>
        
        <div id="chat-container">
            <div id="chat-log"></div>
            <input type="text" id="user-input" placeholder="Type your message..." autofocus>
        </div>
    </div>

    
</body>
</html>
